<!-- Agenda Section Start -->
<section id="agenda" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">{{ page.Agenda.title}}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-none-lg col-2">
    </div> 
      <div class="col-12 col-lg-8">
        <div class="section-TOC">
          <ul>
            {% assign counter=0 %}
            {% for talk in page.Agenda.schedule %}

            <li class="pb-2">
              <a href="#talk-{% increment couter %}" class="slot {{ talk.slot_type }}">{{talk.slot_begin_time}} -
                {{talk.title}}</a>
            </li>

            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="d-none-lg col-2">
    </div>
    </div>
 
  <div class="row">
    <div class="d-none-lg col-2">
    </div>

    <div class="col-12 col-lg-8">
      {% assign counter=0 %}
      {% for talk in page.Agenda.schedule %}
      {% if talk.slot_type != "break" %}
      <div class="row">
        <div class="col">
          <hr id="talk-{{ counter }}" />
          <div class="talk-box pt-3">
            <p class="slot_begin_time">{{talk.slot_begin_time}}</p>
            <h3>{{ talk.title }}</h3>

            <div class="talk-speakers d-flex align-items-left">
              {% for speaker in talk.speakers %}
              {% assign speakerObj = page.Speakers.list | where: 'id', speaker.id | first %}
              <div class="d-flex align-items-center mr-5">
                <a href="#{{ speakerObj.id }}">
                  <img class="speaker-photo rounded-circle mr-2" style="width: 50px;"
                    src="{{ site.baseurl }}{{ speakerObj.photo_url }}" alt="{{ speakerObj.name }}">
                </a>
                <a href="#{{ speakerObj.id }}">
                  <p class="speaker-name">{{ speakerObj.name }}</p>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
          <p>{{ talk.description }}</p>
          {% if talk.speakers and talk.speakers.size > 0 %}
            {% assign first_speaker = talk.speakers | first %}
            {% assign speaker_obj = page.Speakers.list | where: 'id', first_speaker.id | first %}
            {% if speaker_obj.video_url %}
              <div class="talk-video mt-4">
                <iframe
                  src="{{ speaker_obj.video_url }}"
                  title="{{ talk.title }}"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% assign counter = counter | plus: 1 %}
      {% endfor %}
    </div>
    <div class="d-none-lg col-2">

    </div>
  </div>
  </div>
</section>
<!-- Agenda Section End -->