{% if include.button %}
    {% assign button_type = 'border' %}
    {% if include.button.isPrimary %}
        {% assign button_type = 'common'%}
    {% endif %}
    {% unless include.button.isExternal %}
            {% assign base_url = site.url | append: site.baseurl %}
    {% else %}
         {% assign base_url = '' %}
    {% endunless %}

    {% if include.button.isContrasted %}
        {% assign contrasted = 'contrasted' %}
    {% else %}
        {% assign contrasted = '' %}
    {% endif %}

    <a href="{{ base_url }}{{ include.button.url }}" class="fadeInRight {{ contrasted }} wow btn btn-{{ button_type }} btn-lg m-3"
        target="{{ include.button.target}}"
        data-wow-delay=".6s">{{ include.button.text }}</a>
{% endif %}