<section id="shop" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">{{ include.params.title }}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <p class="" data-wow-delay="0.2s">{{ include.params.description }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center mt-4">
                    {% include button.html button=include.params.button %}
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            {% for photo in include.params.photos %}
            <div class="col-sm-12 col-lg-3 col-md-4 col-6 mb-4">
                <div class="gallery-box">
                    <div class="img-thumb">
                        <img class="img-fluid" src="{{ photo.url }}" alt="{{ photo.alt }}" loading="lazy">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>