{% assign sponsors = site.data.commons.Sponsors %}

<section id="sponsors" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">{{ include.params.title}}</h2>
          <p>{{ include.params.acknowlegment}}</p>
        </div>
      </div>
    </div>

    <div class="row pt-5" id="sponsors-logos">
      <div class="d-none-lg col-2">
      </div>
      <div class="col-12 col-lg-8">
        {% for logo in sponsors.logos_advanced %}
        <p class="text-center">
          <a href="{{ logo.link }}" target="_blank" rel="noopener">
            <img class="img-fluids mx-auto d-block w-100" style="max-width:500px;"
              src="{{ site.baseurl }}{{ logo.url }}" alt="{{ logo.name }}">
          </a>
        </p>
        {% endfor %}

        <div class="row">
          <div class="col-sm-12 col-lg-2">
            <p class="text-center">
              {% for logo in sponsors.logos_basic %}
              <a href="{{ logo.link }}" target="_blank" rel="noopener">
                <img class="img-fluids mx-auto w-25" src="{{ site.baseurl }}{{ logo.url }}" alt="{{ logo.name }}">
              </a>
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
      <div class="d-none-lg col-2">

      </div>
    </div>

  </div>
</section>