---

---

{% include header.html %}
{% include nav.html %}
{% include hero.html %}

{% if page.Strip %}
{% include strip.html %}
{% endif %}

{% if page.About %}
{% include about.html %}
{% endif %}

{% if page.Agenda %}
{% include schedule.html %}
{% endif %}

{% if page.Speakers %}
{% include speakers.html params=page.Speakers %}
{% endif %}

{% if page.Register %}
{% include tickets.html params=page.Register %}
{% endif %}

{% if page.Sponsoring %}
{% include sponsors.html params=page.Sponsoring %}
{% endif %}

{% if page.Lieu %}
{% include lieu.html %}
{% endif %}

{% if page.FAQ %}
{% include faq.html %}
{% endif %}

{% if page.Newsletter %}
{% include newsletter.html params=page.Newsletter %}
{% endif %}

{% include cta_finale.html %}

{% include footer.html %}
