---
---

{% include header.html %}

<div class="row">
  <div class="col-2 d-none-lg">
  </div>
  <div class="col-12 col-lg-8">
    <!-- Section About Start -->
    <section id="sponsor" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col">
            {% if page.header_image %}
            <img src="{{site.baseurl}}{{ page.header_image }}" alt="Sponsor header" class="img-fluid w-100 mb-4"
              style="object-fit:cover;max-height:350px;">
            {% endif %}
            <div class="section-title-header text-center">
              <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">{{ page.title }}</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="p-3 col text-lg-left text-center">
            {{ page.pageContent }}
            {% include button.html button=page.buttonDoc %}
          </div>
        </div>
      </div>
    </section>
    <section id="sponsor_thanks" class="section-padding">
    {% include sponsors.html params=page.Sponsoring %}
    </section>

    <!-- Section Contact Start -->
    <section id="contact" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col col-1ah2 text-lg-left text-center">
            <h2 class="section-title wow fadeInUp">{{ page.contact-us.title }}</h2>
            <p>{{ page.contact-us.description }}</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Section Contact End -->
  </div>
  <div class="col-2 d-none-lg">
  </div>
</div>
{% include footer.html %}