---
title: Devenez sponsor du DevFest 2025
description: Soutenez le DevFest Perros-Guirec 2025 et bénéficiez de visibilité auprès de la communauté tech locale. Plusieurs formules sont proposées ou possibilité de soutien ponctuel sur frais réels.
photo_equipe: /assets/img/equipe-devfest-2025.jpg
Newsletter: null
contact-us:
  title: Intéressé·e pour devenir sponsor ?
  description: Écrivez-nous à <a href="mailto:contact@codedarmor.fr">contact@codedarmor.fr</a> pour en discuter ensemble !
---

{% include header.html %}
<div class="row">
  <div class="col-2 d-none-lg">
  </div>
  <div class="col-12 col-lg-8">
    <!-- Section About Start -->
    <section id="sponsor" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section-title-header text-center">
              <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">{{ page.title }}</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="p-3 col text-lg-left text-center">
            {{ page.pageContent }}
          </div>
        </div>
      </div>
    </section>

    <!-- Section Contact Start -->
    <section id="contact" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col col-1ah2 text-lg-left text-center">
            <h2 class="section-title wow fadeInUp">{{ page.contact-us.title }}</h2>
            <p>{{ page.contact-us.description }}</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Section Contact End -->
  </div>
  <div class="col-2 d-none-lg">
  </div>
</div>
{% include footer.html %}
